/* Database */

#database {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}

@media screen and (min-width:800px) {
	#database {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: flex-start;
	}
}

/* Item */

.item {
	margin: 10px;
	background-color: var(--color-white);
	border-radius: 10px;
	width: 344px;
	box-shadow: 0 2px 2px #0003;
}

.item-wrap {
	margin: 0 20px 7px;
}

.item-wrap section {
	margin: 10px 0;
}

/* Header */

.item-header {
	background-color: var(--color-dark);
	border-radius: 10px 10px 0 0;
	color: var(--color-white);
	padding: 10px 20px;
}

.item-header h1 {
	font-size: 1.9em;
	font-family: var(--font-title);
}

.item-header p {
	margin-top: 0.5em;
	font-size: 1.1em;
	color: #c3c3c3;
}

.item-description p {
	line-height: 1.4;
}

.item-image img {
	width: 100%;
	border-radius: 10px;
}

/* Metadata */

.item-tags ul {
	list-style-type: none;
	margin-top: -0.8em;
	margin-bottom: 0.5em;
}

.item-tags li {
	display: inline-block;
	padding: 0.2em 0.7em;
	background-color: var(--color-sky);
	border-radius: .8em;
	margin: .6em 0.2em 0 0;
}

/* Location */

.item-location {
	color: #aaaaaa;
	float: left;
}

.item-location:hover {
	color: var(--color-dark);
}

.item-location i {
	margin-right: .2em;
}

.item-location a {
	text-decoration: none;
	color: unset;
}

/* Count */

.item-count {
	float: right;
	text-align: right;
	font-weight: bold;
	color: var(--color-dark);
}

.item-count p::before {
	content: "x";
}