/* Container */

.controls {
	background-color: var(--color-white);
	padding: 10px 60px 5px;
}

.control-header {
	font-weight: bold;
	margin-bottom: 7px;
}

.scroll-to-top-handle {
	position: sticky;
	top: 0;
	height: 20px;
	margin-bottom: 20px;
	background-color: var(--color-white);
	box-shadow: var(--box-shadow-soft);
}

/* Searchbar */

.searchbar {
	display: flex;
	flex-direction: column;
	justify-content: right;
	margin-bottom: 15px;
}

#searchbar {
	display: block;
	padding: 15px 10px;
	border: var(--color-blue) 3.5px solid;
	border-radius: 14px;
}

#searchbar:active,
#searchbar:focus {
	border: var(--color-dark) 3.5px solid;
	outline-width: 0;
}

/* Tags */

.tag-filter-list {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 15px;
}

.controls .tag {
	display: inline-block;
	padding: 0.32em 0.65em;
	margin: 0.2em;
	background-color: var(--color-sky);
	border-radius: 0.8em;
	cursor: pointer;
}

.controls .tag.selected {
	background-color: var(--color-dark);
	color: var(--color-white);
}

.controls label {
	/* Safari */
	-webkit-user-select: none;
	/* IE 10 and IE 11 */
	-ms-user-select: none;
	/* Standard syntax */
	user-select: none;
}

/* Desktop Reflow */

@media screen and (min-width: 800px) {
	.controls {
		padding: 10px 30px 0;
	}

	#controls {
		display: grid;
		gap: 20px;
		grid-template-columns: 60% 20%;
		grid-template-rows: 80px auto;
		align-items: flex-start;
		justify-content: center;
	}

	#controls > * {
		margin: 0;
	}

	.searchbar {
		grid-column: 1 / span 1;
		grid-row: 1 / span 1;
	}

	.total-count {
		grid-column: 2 / span 1;
		grid-row: 1 / span 1;
		justify-self: center;
	}


	.tag-filter {
		grid-column: 1 / span 2;
		grid-row: 2 / span 1;
		margin: 0;
	}

	.tag-filter-list {
		grid-auto-flow: column;
		grid-column-gap: 4px;
	}
}

/* Tooltip After Search Results */

#content-tooltip {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px auto 40px;
	text-align: center;
	color: #949494;
}