/* Variables */

body {
	--color-white: #ffffff;
	--color-black: #000000;
	--color-dark: #444444;
	--color-sky: #b2caff;
	--color-blue: #8bb0f9;
	--font-body: Roboto, sans-serif;
	--font-title: Mulish, sans-serif;
}

/* Styles */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--font-body);
	background-color: var(--color-background);
	color: var(--color-main);
}

/* Utility */

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

/* Header */

.main-header {
	padding: 20px;
	margin-bottom: 30px;
	background-color: var(--color-blue);
	color: var(--color-white);
}

.main-header h1 {
	font-family: var(--font-title);
	font-size: 2.5em;
	font-weight: bold;
	text-align: center;
}

.content-wrap {
	margin: 0 20px;
}